/* Estilos generales */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif; /* Fuente de texto */
}

/* Contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden; /* Evita que el contenido se desborde */
}

.containerInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  max-width: 700px;
  padding: 20px 15px 30px 15px;
  width: 100%; /* Asegura que el contenido se ajuste al ancho */
  box-sizing: border-box;
}

/* Imágenes */
.heroArtwork, .heroTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.heroArtwork img, .heroTitle img {
  max-width: 100%;
  height: auto;
}

/* Descripción */
.heroDescription {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 52px;
  color: #fff; /* Color de texto */
}

/* Contenedor de botones */

.containerCta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: #fff; /* Color de texto */
}

.containerCta button {
  margin: 0px auto 20px auto;
}

.containerCta .linkSignIn {
  padding: 10px;
  color: #fd5750;
  opacity: 0.65;
}

.containerCta .linkSignIn:hover {
  opacity: 1;
}

/* Selección de texto */
::selection {
  background: #fd5750;
  color: #ffffff;
}

::-moz-selection {
  background: #fd5750;
  color: #ffffff;
}
