# Ignorar node_modules para ambos frontend y backend
**/node_modules/

# Ignorar package-lock.json para ambos frontend y backend
**/package-lock.json



# Ignorar carpetas no utilizadas
database/
permissions/

# Ignorar el archivo serverless.template.yml
fullstack-app/serverless.template.yml

# Ignorar la carpeta de cobertura (coverage) en el directorio api
api/coverage/
