.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100vh; /* Ajusta la altura al 100% del viewport */
}

.containerInner {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: #000;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  padding: 30px 15px; /* Aumenta el padding para proporcionar más espacio vertical */
}


.containerLoading {
  display: flex;
  justify-content: center; /* Cambiado de align-content a justify-content */
  align-items: center; /* Cambiado de align-content a align-items */
  width: 100%;
  height: auto;
  padding: 160px 0 0 0;
}

.logo {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  
}

.logo img {
  max-width: 300px; /* Ajustado el ancho máximo del logo */
  height: auto; /* Mantener la proporción de aspecto */
}


.formType {
  display: flex;
  flex-direction: row;
  margin: 26px auto 0px auto;
  width: 100%;
  padding: 10px 0;
  font-size: 22px;
  color: rgba(255,255,255,0.6);
  text-transform: lowercase;
  user-select: none;
}


.error {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 18px 0;
  align-content: center;
  justify-content: center;
  text-align: center;
  color: #FD5750;
  font-size: 18px;
}

.success {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 32px 0;
  align-content: center;
  justify-content: center;
  text-align: center;
  text-transform: lowercase;
  color: #78f542;
  font-size: 22px;
}


.formTypeRegister {
  display: flex;
  width: 50%;
  padding: 5px 40px 5px 0;
  justify-content: flex-end;
  border-right: 2px solid rgba(255,255,255,0.15);
  color: rgba(255,255,255,0.6);
}

.formTypeRegister:hover {
  cursor: pointer;
}

.formTypeSignIn {
  display: flex;
  width: 50%;
  padding: 5px 0 5px 40px;
  text-align: left;
  color: rgba(255,255,255,0.6);
}

.formTypeSignIn:hover {
  cursor: pointer;
}

.formTypeActive {
  color: rgba(255,255,255,1);
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  width: 100%;
  margin: 10px auto 0 auto;
  text-align: center;
}

.formField {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px; /* Ajusta el margen inferior entre los campos del formulario */
}


.formLabel {
  font-size: 19px;
  font-weight: 500;
  margin: 0 0 10px 0;
  user-select: none;
  display: none;
}

.formInput {
  text-align: center;
  font-size: 22px;
  padding: 10px 0px 10px 0px;
  border-bottom: 1.5px solid rgba(255,255,255,0.4);
  border-top: 1.5px solid transparent;
  border-right: 1.5px solid transparent;
  border-left: 1.5px solid transparent;
  transition: all 0.6s ease;
  background: none;
  outline: none;
  color: #ffffff;
  caret-color: white;
}

.formInput::placeholder {
  text-align: center;
  font-size: 22px;
  color: rgba(255,255,255,0.5);
  margin: 0;
}

.formInput:focus {
  border-bottom: 1.5px solid rgba(255,255,255,1);
}

.formError {
  margin: 10px 0 10px 0;
  color: #FD5750;
  font-size: 18px;
  line-height: 32px;
}

.formButton {
  margin: 10px auto 6px auto!important;
}

.formButton:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.formButton:active {
  cursor: pointer;
  transform: scale(1);
}

.forgotPassword {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 20px auto 5px auto;
  width: 100%;
  padding: 10px 0;
  font-size: 19px;
  color: rgba(255,255,255,0.6);
  transition: all 0.3s ease;
}

.forgotPassword:hover {
  cursor: pointer;
  color: rgba(255,255,255,1);
}

.githubLink {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 26px 0 40px 0;
}

.githubLink a {
  font-size: 20px;
  color: #FD5750;
  opacity: 0.7;
  transition: all 0.3s ease;
  text-decoration: none;
}

.githubLink:hover a {
  cursor: pointer;
  opacity: 1;
}

.successMessage {
  background-color: #4caf50; /* Color de fondo verde */
  color: white; /* Color de texto blanco */
  padding: 10px; /* Espaciado interno */
  margin-bottom: 10px; /* Margen inferior */
  border-radius: 5px; /* Bordes redondeados */
}

.switchAuthType {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Alinea los elementos con espacio entre ellos */
  align-items: center; /* Alinea verticalmente al centro */
}

.switchButton {
  margin-left: 10px; /* Agrega un margen a la izquierda del botón */
}

.customButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.customButton:hover {
  background-color: #45a049;
}

.customButton:active {
  background-color: #367a38;
}
